
/*  html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
	display: absolute;
  margin:0;
	padding:0;
	border:0;
	outline:0;
  width: auto;
	font-size:100%;
	vertical-align:baseline;
  background-color: black;
  color: orange;
  border: 5px solid rgb(0, 255, 21);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
 */

/* 
 body {
    display: flex;
    align-items: left;
    justify-content: left;
    flex-direction: column;
    
  } */

/*   .letter > div {
      display: grid;
      grid-template-columns: 200px 200px 200px;
  }
 */

html {
  display:grid;
  margin:0;
	padding:0;
	border:0;
	outline:0;
  font-size: 300px;
  background: black;
/* 	font-size: 250px; */
  /* font-family: Georgia, 'Times New Roman', Times, serif; */

}

#font {
  position: absolute;
  color: yellow;
  font-size: 425px;
  -webkit-text-stroke-width: 8px;
  -webkit-text-stroke-color: blue;

}


  #letter-p {
    position: absolute;
    color: yellow;
    font-size: 475;
    transform: scale(1.115,1.5);
    padding-left: 25;

    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;

    /* courier new */
    /* franklin gothic medium k */

  }

  #letter-o {
    position: absolute;
    color: yellow;
    padding-left: 175; 
    padding-top: 105;
    font-size: 450;
    font-weight: bolder;

    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  }

  #letter-k{
    position: absolute;
    color: yellow;
    padding-left: 375px; 
    padding-top: 50;
    font-size: 500px;
    font-weight: bolder;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
  }
  
/*   
Georgia, 'Times New Roman', Times, serif; */



#letter-e {
    position: absolute;
    color: yellow;
    margin-left: 610; 
    transform: scale(.95) rotate(-2deg);
    margin-top: 72;
    font-size: 500;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  #letter-d{
    position: absolute;
    color: white;
    padding-left: 525px; 
    margin-top: -75px;
    font-size: 750px;
    transform: scaleX(.85);
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:Georgia, 'Times New Roman', Times, serif;
    /* font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; */

    
  }

  #letter-cap-e {

    position: absolute;
    color: white;
    padding-left: 937px;
    padding-top: 219;
    font-size: 486;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  

  #letter-x {
    position: absolute;
    color: white;
    padding-left: 1075;
    padding-top: 97;
    font-size: 575;
    transform:scale(1.15) ;
    font-weight: bolder;

    font-weight: bolder;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  }


  .circle {
    height: 700;
    width: 700px;
    margin-top: -100;
    border: 5px solid blue;
    border-radius: 50%;
  }

  .red-ball{
    height: 700;  
    width: 700;  
    background-color: red;
    border-radius: 50%;

  }
  
  .white-ball{
    margin-top: -350;
    height: 350;  
    width: 700;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
    background-color: white;


  }
  

   
   /*   text-shadow: 10px 0 1px blue; */
  
  
  #font {
    color: yellow;
    padding-left: 0;
    -webkit-text-stroke-width: 5 ;
    -webkit-text-stroke-color: blue;

  }

  .spacing {
    margin-left: 225;
    margin-top: 100;
  
  }

  
  
  
  p {
    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 17em;
    padding: 10px;
    border: 15px solid blue;
    transform: skew(-15deg);
    display:inline-block;
    margin-left: 100px;
    
  }
/*   
  
 
  
  font-size: clamp(10px, 2vw, 20px */