

html {
    background-color: gray;
  }


    
  .circle {
    margin: 0 0 0 0;
    position: absolute;
    height: 700;
    width: 700;
    border: 12px solid black;
    border-radius: 50%;
    z-index: 2;
  }

  .red-ball{
    height: 700;  
    width: 705;  
    margin: 0 0 0 0;
    background-color: red;
    border-radius: 50%;
    z-index: 1;
  }

  .white-ball{
    margin: -355 0 0 0;
    height: 368px;  
    width: 705px;
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
    background-color: white;
    z-index: -2;

  }
  .font{
    margin-top: 25;
    margin-left: -10;
    position: absolute;
    color: yellow;
    font-size: 250;
    -webkit-text-stroke-width: 8px;
    -webkit-text-stroke-color: blue;
    z-index: 2;
  }



    #letter-p {
      position: absolute;
      margin-left: 50;
      margin-top: -27;
      transform: scale(1.115,1.5);
      font-weight: bolder;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }

    #letter-o {
      position: absolute;
      margin: 10 0 0 250;
      transform: scale(1.2,1.15);
      font-weight: bolder;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }


    #letter-k{
      position: absolute;
      margin: -7.5 0 0 450;
      font-weight: bold;
      transform: scale(1.25);
      font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
    }
    #letter-e {
      position: absolute;
      margin: 75 0 0 660;
      transform: scale(1.12) rotate(- .7deg);
      font-weight: bolder;
      font-family: Georgia, 'Times New Roman', Times, serif;
    }
  

    .grey-sq{
      position: absolute;
      z-index: -1;
      margin: 400 0 0 200;
      width: 1200;
      height: 150;
      background-color: grey;
    }

    .green-sq{
      position: absolute;
      z-index: -1;
      margin: 250 0 0 200;
      width: 750;
      height: 750;
      background-color: white;
      border-radius: 60%;
      z-index: 1;
    }

    .blue-sq {
      position: absolute;
      z-index: -1;
      margin: 100 0 0 200;
      width: 1200;
      height: 1200;
      background-color: black;
      border-radius: 50%;
    }

    .dex-font {
      position: absolute;
      z-index: 2;
      position: absolute;
      color: black;
      font-size: 250;
      margin-top: 175px;

    }

    #letter-d {
      position: absolute;
      margin: 100 0 0 100;
      font-size: 450;


    }
  #letter-e-two {
      position: absolute;
      margin: 200 0 0 383;
      font-size: 225;

    }
  #letter-x {
      position: absolute;
      margin: 200 0 0 495;
      font-size: 225;
    }


