
h3 {
    padding-left: 25px;

}

    #wrapper{
        position: relative;
        width: 1024px;
        padding: 10px;
        height: 768px;
        border: 2px solid black;
        background-color: #536271;
    }

    .name-plate{
        position: absolute;
        margin-left: 500;
        width: 475;
        height: auto;
        background-color: #D0CD94;
        padding: 10;
        text-align: center;
        border: 2px solid black;
        box-shadow: 2px 2px 0 black;

    }

    p.information {
        text-align: center;
        font-size: 24;
        padding-top: 20px;
        
    }
    
    .information-plate {
        margin-top: 400;
        position: absolute;
        height: 400;
        width: 1000;
        background-color: #6e7185;
        border-radius: 10px 120px;
        border: black 10px double;
        background-clip: content-box;
        font-size: 32;
    }
    p.information-plate {
        text-align: center;
        font-size: 24;

    }

    
    
    img.portrait-img {
        background-color: #2C3D55;
        position: absolute;
        width: fit-content;
        height: auto;
        border: 2px solid black;
        border-radius: 50%;
        overflow: visible;
        box-shadow: inset 0 0 10px #000000;
    }

    .move-one {
        margin: 200 0 0 20;
        position: absolute;
        width: 150;
        height: 150;
        border-radius: 50%;
        background-color: #243E36;
        box-shadow: inset 0 0 10px #000000;
        
    }

    .move-two {
        margin: 200 0 0 420;
        position: absolute;
        width: 150;
        height: 150;
        border-radius: 50%;
        background-color: #243E36;
    }



    .stat-plate{
        text-align: center;
        position: absolute;
        height: 275;
        width: 450;
        background-color: #40506b;
        margin-left: 522;
        margin-top: 100;
        border-radius: 100px 10px;
        border: 2px solid black;
        box-shadow: 2px 2px 0 black;
    }

    p.stat-plate {
        text-align: center;
        padding: 0;
            
    }