    
    p {
    margin-top: 10px;
    margin-left: 10px;
    text-align: left;
    font-size: 50px;
    }


    body {
        justify-content: center;
        font-size: 25px;

    }

    *:focus {
     outline:none !important
   }


  .red-ball{      
    margin-left: 600;
    position: absolute;
    margin-top: 420;
    height: 122;  
    width: 125;
    background-color: red;
    border-radius: 50%;
    border: 5px solid black;
    box-shadow: 1px 2px 0px black;
    z-index: 5;

  }

  .white-ball{
    position: absolute;
    margin-left: 605;
    margin-top: 484;
    height: 64;  
    width: 125;  
    border-bottom-left-radius: 350px;
    border-bottom-right-radius: 350px;
    background-color: white;
    z-index: 5;
  }

  .gray-sq {
    position: absolute;
    background-color: rgb(130,130,130);
    width: 800;
    height: 600;
    border: 2px solid black;
    z-index: 0;

  }

  .description-outline {

  }

  input {
    justify-content: center;
    margin-top: 20;
    margin-left: 500;
    position: absolute;
    z-index: 5;
    height: 35;
    width: 250;
    border-radius: 20px;

  }


  .pokemon-box {
      margin-top: 250;
      margin-left: 25;
      position: absolute;
      background-color: #B9BEC7;
      height: 300;
      width: 200;
      z-index: 4;
      border: 5px solid black;
      box-shadow: 8px 0px 0 black;
      border-bottom: 15px solid black;

  }
  .description-box {
      position: absolute;
      margin-left: 50;
      margin-top: 150;
      border: 2px solid black;
      background-color: #666A86;
      height: 350;
      width: 700;
      /* left: 50%;
      top: 50%; */
      z-index: 3;
  }
